{% extends 'base.html' %}
{% load static %}
{% block content %}
  {% for user in users%}
    <tr>
     <td> {{user.id}} </td>
     <td> {{user.status}} </td>
    </tr>

  {% endfor%}
<form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="登出" />
</form>
{% endblock content %}
<script src="{% static '/s_upload.js' %}"></script>
{% block script %}
  <script>
    var socket = new WebSocket('ws://' + window.location.host + '/ws/userlist/');

    socket.onopen = function (e) {
          console.log ("open", e);
        }
    socket.onmessage = function (e) {
          console.log("message", e)
          var userData = JSON.parse(e.data)
          $('#new_user').html(userData.html_users)
        }
    socket.onerror = function (e) {
      console.log ("error", e)
    }
    socket.onclose = function (e) {
      console.log ("close", e)
    }
  </script>
{% endblock script %}