{% extends 'base.html' %}
{% load static %}
{% block content %}

<tbody id="user_data">
    {% for i in data %}
    <tr>
        <td> {{ i.user_id}} </td>
    </tr>
    {% endfor %}
</tbody>
<form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="登出" />
</form>
{% endblock content %}

{% block script %}
  <script>
    var socket = new WebSocket('ws://' + window.location.host + '/ws/userlist/');

    socket.onopen = function (e) {
          console.log ("open", e);

        }
    socket.onmessage = function (e) {
          console.log("message", e)
          var data = JSON.parse(e.data);
          console.log("data", data)
          document.getElementById('user_data').innerText = data
        }
    socket.onerror = function (e) {
      console.log ("error", e)
    }
    socket.onclose = function (e) {
      console.log ("close", e)
    }
  </script>
{% endblock script %}